html{
    font-family: “Helvetica Neue”,Helvetica,Arial,sans-serif;
}
/* sezione start*/
#start{
    background-color: darkseagreen;
}
h1 {
    color: #fff;
}
.linea {
    width: 100%;
    height: 2px;
    background-color: #fff;
}
#start i {
    color: #fff;
}